/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ---------------------------------
 * GENERAL
 * ---------------------------------*/

.cursor-disable{
    cursor: not-allowed;
}

#go-on-link {
    float: right;
}

.cart {
    position: absolute;
    top: 18px;
    right: 21px;
}

@media (min-width: 768px) {
    .cart {
        position: relative;
        top: 0;
        right: 0;
    }
}

.scontato {
    color: red;
    text-decoration: line-through;
}

/* ---------------------------------
 * UTILITY
 * ---------------------------------*/

.no-padding {
    padding: 0;
}

.flip-image {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.row {
    margin: 0;
}

/* Row with equal height columns */
@media screen and (min-width: 768px) {
    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

/* Bootstrap arrow */
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}

.btn-arrow-right {
    padding-left: 36px;
}

.btn-arrow-left {
    padding-right: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content: "";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: white;
}

/* ---------------------------------
 * HOME
 * ---------------------------------*/

body {
    padding: 0;
}

header {
    background: #004990;
    padding-top: 10px;
}

header .nav.nav-tabs {
    border-bottom: 0;
}

header .navbar {
    border: 0;
    margin-bottom: 0;
}

header .glyphicon-shopping-cart {
    font-size: 25px;
    color: white;
}

header .cart-icon {
    color: #fff;
}

header .cart-icon .glyphicon-shopping-cart {
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.5)));
}

header .cart-icon .cart-p {
    font-size: 18px;
    display: inline-block;
    padding-left: 10px;
    margin-right: 32px;
}

header .nav-tabs > li > a {
    color: #fff;
}

header .nav-tabs > li > a:hover {
    color: #555;
}

header .navbar-nav > li > a:hover {
    background-image: -webkit-linear-gradient(top, #dbdbdb 0, #e2e2e2 100%);
    background-image: -moz-linear-gradient(top, #dbdbdb 0, #e2e2e2 100%);
    background-image: -o-linear-gradient(top, #dbdbdb 0, #e2e2e2 100%);
}

.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand > img {
    margin-top: 6px;
    height: 30px;
}

.navbar-default {
    background-image: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

#carousel-home {
    min-height: 400px;
    margin-bottom: 0;
}

#carousel-home .carousel-indicators {
    bottom: 0;
}

#carousel-home .carousel-inner .carousel-caption {
    text-transform: capitalize;
}

#carousel-home .carousel-inner img {
    height: 400px;
    width: 100%;
}

#carousel-home .carousel-caption {
    padding: 0;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
    #carousel-home .carousel-caption {
        right: 30%;
        left: 30%;
    }
}

main {
    margin-top: 20px;
}

main .thumb-home-left img {
    margin-bottom: 20px;
    height: 150px;
}

main .thumb-home-right img {
    margin-bottom: 20px;
    height: 320px;
    width: 100%;
}

.caption-in-thumb {
    position: absolute;
    color: #fff;
}

.thumb-home-left .caption-in-thumb {
    top: 5px;
    left: 20px;
}

.thumb-home-right .caption-in-thumb {
    top: 45px;
    right: 45px;
}

section {
    position: relative;
}

footer {
    background-color: #004990;
    min-height: 50px;
    color: #fff;
    padding-top: 16px;
}

/* ---------------------------------
 * GOT - Group Of Topic
 * ---------------------------------*/

.nav.nav-pills{
    justify-content: space-between;
    display: flex;
}

.breadcrumb {
    margin-top: 13px;
    margin-bottom: 10px;
}

.header-container {
    position: relative;
}

.head-banner-left {
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 35px;
    width: 178px;
    background-color: #005ca8;
    color: #fff;
    line-height: 1.2;
    padding: 2px 8px 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .head-banner-left {
        position: relative;
        min-height: 200px;
        padding-right: 100px;
        padding-left: 220px;
        padding-top: 10px;
        text-align: right;
        width: 41.66%;
    }

    .head-banner-left p {
        margin-left: 20px;
    }
}

.head-banner-right {
    height: 200px;
}

.head-banner-right img {
    height: 200px;
    width: 100%;
}

.subnav-container {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    box-shadow: 0 5px 10px rgba(200, 200, 200, 0.6);
}

.sub-nav .nav-pills a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
}

#collapse-subnav .container {
    padding-left: 60px;
}

.remove-border-radius {
    border-radius: 0;
}

@media (min-width: 768px) {
    .sub-nav .nav-pills a {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #collapse-subnav .container {
        padding-left: 15px;
    }
}

.sub-nav .nav-pills p {
    margin: 0;
}

.sub-nav .nav-pills a:hover {
    /*TODO: al mouse hover coloro i glyph-icon*/
}

.subnav-container .sub-nav .glyphicon {
    font-size: 30px;
    margin-right: 10px;
}

.card {
    padding: 0;
}

.card section {
    border: 1px solid #eee;
    margin: 4px;
    box-shadow: 0 0 5px 2px #eee;
    padding: 10px 10px 10px;
}

.card section img {
    margin-bottom: 20px;
    height: 150px;
}

.card p {
    margin-top: 16px;
}

.btn-card {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-card .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.btn-triangle {
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent transparent #337ab7 transparent;
    border-width: 0 0 40px 45px;
    border-style: solid;
}

.btn-triangle .glyphicon-arrow-right {
    position: absolute;
    top: 20px;
    right: 6px;
    color: white;
}

/* ---------------------------------
 * MGOT - Multiple Group Of Topic
 * ---------------------------------*/
.card-filter {
    padding-right: 20px;
}

.filter-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-header .media-filter {
    height: 50px;
    margin-bottom: 0;
    margin-right: 15px;
}

.filter-body {
    /*TODO: check if obsolete*/

}

.col-md-4 .media {
    text-align: center;
}

.mgot .col-md-9 section {
    height: 95%;
}

.got .row-eq-height section {
    height: 95%;
}

.got .media .media-object {
    max-width: none;
    width: 150px;
}

.got .media .media-body p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
}

@media (min-width: 798px) {
    .nav-justified > li {
        width: 0;
    }
}

/* ---------------------------------
 * TOPIC - DEVICE
 * ---------------------------------*/
.topic-head {
    display: flex;
}

.topic-head img {
    height: 400px;
}

.media-quick-description {
    margin-top: 10px;
}

.media-quick-description h3 {
    margin-bottom: 30px;
}

.media-quick-description span {
    margin-left: 5px;
}

.add-to-cart {
    position: absolute;
    bottom: 10px;
}

.add-to-cart {
    position: absolute;
    bottom: 20px;
}

.add-to-cart p {
    color: #51b5f7;
    font-family: fantasy;
    font-weight: bold;
    font-size: x-large;
}

.topic-description {
    margin: 80px;
}

.topic-description .tab-pane {
    padding: 30px;
    box-shadow: 0 2px 10px 1px #eee;
}

.topic-description .tab-content {
    border: 1px solid #eee;
    border-top: 0;
}

/* ---------------------------------
 * Carousel promotions box-slider
 * ---------------------------------*/
/* Global */
.container {
    max-width: 960px;
}

↓
body {
    background: #fff;
    padding: 40px;
}

img {
    max-width: 100%;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.carousel-promo .item.active {
    margin-left: 10px;
    margin-right: 10px;
}

.item.active .col-sm-3 {
    margin-left: 45px;
}

.container-fluid {
    background: #FFFFFF;
    margin: 40px auto 10px;
    padding: 20px 40px 0;
    max-width: 960px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Page Header */
.page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}

.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

/* Thumbnail Box */
.caption h4 {
    font-size: 1.60rem;
    color: #444;
}

.caption p {
    font-size: 1.80rem;
    color: #999;
}

.btn.btn-mini {
    font-size: 0.63rem;
}

/* Carousel Control
.control-box {
    text-align: right;
    width: 100%;
    }*/
.carousel-control {
    color: #000 !important;
    border: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 30px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 0px 0px;
    position: absolute;
    height: 30px;
    width: 15px;
    top: 98px;
    background: none !important;
}

.carousel-control.right {
    right: 4px;
}

/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    }
}

@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}

/* ---------------------------------
 * TRANSITION PAGE
 * ---------------------------------*/
main.transition-act {
    margin-top: 0;
}

.transition-act .media-body {
    padding: 0 15px;
}

.transition-act h2 {
    background-image: none;
    margin-top: 8px;
    margin-bottom: 10px;
}

.transition-act h1 {
    margin-bottom: 26px;
}

/* ---------------------------------
 * TOPIC - ASSISTANCE
 * ---------------------------------*/
.topic-assistance .topic-description {
    margin: 40px 0;
}

.topic-assistance .topic-description .tab-pane {
    padding: 10px 15px;
}

.topic-assistance .topic-description .collapsed span {
    transform: rotate(0deg);
}

.topic-assistance .topic-description span {
    transform: rotate(180deg);
}

/* ---------------------------------
 * TOPIC - SMART-LIFE
 * ---------------------------------*/
.topic-sl #image-topic {
    height: 180px;
    width: 800px;
}

.topic-sl section .media {
    /*    background-image: url("../img/tim-vision-bg.png");*/
    background-size: cover;
    padding: 20px;
}

.topic-sl .media.media-content {
    margin-bottom: 50px;
}

.topic-sl .card section {
    padding: 0;
}

.topic-sl .media-left {
    padding-right: 30px;
}

.topic-sl .menu-left {
    border-right: 1px solid gainsboro;
    margin-right: 14px;
}

/* ---------------------------------
 * TOPIC - WHO WE ARE
 * ---------------------------------*/
main.who-we-are {
    margin-top: 30px;
}

.who-we-are .menu-left [data-toggle="tab"]:hover {
    background-color: transparent;
}

.who-we-are .topic-sl .media-object {
    height: 309px;
    width: 910px;
    max-width: 329px;
}

.who-we-are .tab-pane .thumbnail img {
    height: 200px;
    width: 100%;
}

.who-we-are .tab-pane .caption {
    text-align: center;
}

.who-we-are .tab-pane .caption p {
    font-size: inherit;
}