

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header .navbar {
    height: 40px;
}

.navbar-default{
    background: #004990;
    background: -moz-linear-gradient(top, #004990 0%, #004184 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004990), color-stop(100%,#004184));
    background: -webkit-linear-gradient(top, #004990 0%,#004184 100%);
    background: -o-linear-gradient(top, #004990 0%,#004184 100%);
    background: -ms-linear-gradient(top, #004990 0%,#004184 100%);
    background: linear-gradient(to bottom, #004990 0%,#004184 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004990', endColorstr='#004184',GradientType=0 );
    border: none;

}















